body {
  margin: 0;
  background-image: url('images/bg.jpg');
  height: 100vh;
}

/* index styles */
.head{
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 4em;
  margin: 50px 0;
  border-top: solid 4px #9370DB;
  border-bottom: solid 4px #9370DB;
}

.wrapper{
  height: 100vh;
}

p{
  font-family: 'Cookie', cursive;
}

.buttons-main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 400px;
  height: 400px;
  margin: 35px;
  text-align: center;
}
h3{
  font-family: 'Raleway';
  font-size: 2em;
  padding: 5px;
  color: #9370DB;
}

.links img{
  width: 200px;
  height: auto;
}

.links a:hover {
  color:black;
}
/*strings page styles */
.section-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  text-align: center;
  padding: 15px;
  margin: 25px;
  background-color: white;
}

.box img{
  height: 160px;
  width: auto;
}



.header{
  text-align: center;
  padding: 15vh 0;
}
